header,
      footer {
        background-color: #333;
        color: white;
        padding: 10px 20px;
        text-align: center;
      }
      header ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      header ul li {
        display: inline;
        margin: 0 10px;
      }
      header ul li a,
      footer a {
        color: white;
        text-decoration: none;
      }
  body {
    background-image: url("da+viva+Marina+Shopping+Mall.jpg");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
  }
  .BNT {
    background-color: #f4f4f4;
    padding: 20px 10px;
    text-align: center;
  }
  .BNT h1 {
    margin: 0;
  }
  .BNT p {
    margin: 10px 0;
  }
  .BNT a {
    display: inline-block;
    margin: 10px;
    padding: 20px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  .About,
  .home,
  .service,
  .contact {
    background-color: blue;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 20px;
    border: none;
    cursor: pionter;
  }
  .text {
    text-align: center;
    color: rgb(219, 22, 157);
   padding: 20px 10px;
    font-size: 20px;
  }
  .words{
    text-align: center;
    color: rgb(85, 16, 223);
   padding: 20px 10px;
    font-size: 20px;
  }
  .words h2{
    color: rgb(85, 16, 223);
  }
.writing {
        text-align: center;
        color: rgb(10, 3, 198);
       padding: 20px 10px;
       margin-bottom: 50px;
        font-size: 20px;
        cursor: pointer;
        font-weight: 700;
  }
  .writing h2{
    color: rgb(59, 8, 240);
    padding-bottom: 30px;
  }
  
  
 
  